:root {
    --text-color-bl1:#213555;
    --text-color-iv1:#f5efe7;
}
@font-face {
    font-family: 'pado';
    src: url('./fonts/WavvePADO-Regular.ttf') format('truetype');
    
}
@font-face{
    font-family: 'nanum';
    src: url('./fonts/NanumBarunGothicLight.otf') format('truetype');
}
@font-face{
    font-family: 'nanum_b';
    src: url('./fonts/NanumBarunGothicBold.otf') format('truetype');
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f5efe7;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-content{
    height: 550px;
    width: 100vw;
    background: url("images/sea_1.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}
.main_title {
    font-family: pado;
    color: white;
    font-size: 5em;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sub_title{
    font-family: pado;
    color: white;
    font-size: 2em;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sub-content{
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    align-items: center; /* 수직 정렬 */
    width: 950px; /* 지도와 같은 너비 */
    margin-bottom: 7px;
    margin-top: 7px;
}
.btn{
    background-color: var(--text-color-bl1);
    font-family: nanum;
    border: none; /* 테두리 없음 */
    color: white; /* 흰색 글자 */
    text-align: center; /* 가운데 정렬 */
    text-decoration: none; /* 밑줄 없음 */
    border-radius: 0; /* 둥근 모서리 없음 */
    display: inline-block; /* 인라인 블록 */
    padding: 10px 35px; /* 더 큰 패딩 */
    font-size: 1.1em; /* 글자 크기 */
    margin: 4px 2px; /* 여백 */
}
 .btn:hover, .btn:focus {
    background-color: var(--text-color-bl1);
    color: white;
}
.sub-content p{
    font-family: pado;
    color: #757575;
    font-size: 1.5em;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.highlight{
    color: var(--text-color-bl1);
}
#map_bd743cd3ddf370c12e52c2d6a1e0d4b8 {
    width: 950px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.leaflet-container {
    font-size: 1rem;
}
.store-container{
    height: 300px;
    width: 250px;
    background: url("images/myl.jpg") no-repeat;
    background-position: 58% 0%;
    background-size: cover;
    position: absolute;
    top: 82.5%;
    left: 82.5%;
    transform: translate(-50%, -50%);
}
.store-content{
    height: 100px;
    width: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
}
.store_title {
    font-family: nanum_b;
    font-weight: bold;
    color : var(--text-color-bl1);
    position: absolute;
    font-size: 17px;
    top: 30%;
    left: 20%;
    transform: translate( -50%, -50% );
}
.store_add {
    font-family: nanum;
    color : #757575;
    position: absolute;
    top: 50%;
    left: 34%;
    transform: translate( -50%, -50% );
}
.info {
    font-family: nanum;
    color : #757575;
    position: absolute;
    top: 85%;
    left: 21%;
    transform: translate( -50%, -50% );
}
